/*3.1
.flex-container{
    display: flex;
    justify-content: flex-end;   
}*/
/*3.2
.flex-container{
    display: flex;
    justify-content: center;   
}*/
/*3.3
.flex-container{
    display: flex;
    justify-content: space-around;   
}*/
/*3.4
.flex-container{
    display: flex;
    justify-content: flex-between;   
}*/
/*3.5.flex-container{
    display: flex;
    height: 100vh;
    align-items: flex-end;
}*/
/*3.6.flex-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}*/
/*3.7.flex-container{
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: space-around;
}*/
/*3.8.flex-container{
    display: flex;
    justify-content: flex-end; 
}*/
/*3.9.flex-container{
    align-items: flex-end;
}*/
/*3.10.flex-container{
    display: flex;
    align-items: flex-end;
}*/
/*3.11.flex-container{
    justify-content: flex-end;
    height: 100vh;
    display: flex;
    flex-direction: column;
}*/
/*3.12.flex-container{
    justify-content: space-between;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}*/
/*.3.13flex-container{
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row-reverse;
}*/  
/*3.14.flex-container{
    display: flex;
    
}*/
/*4.1.vermelho{
    background-color: red;
    order: -1;
}*/

/*4.2.flex-container{
    display: flex;
    height: 100vh;
}
4.2.amarelo{
    background-color: yellow;
    align-self: flex-end;
}*/
/*4.3.flex-container{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-self: center;
}
.amarelo{
    background-color: yellow;
    align-self: flex-end;
    order: 3;
}*/
/*.verde4{
    background-color: green;
    align-self: center;
    order: -1;
}
.vermelho{
    background-color: red;
    align-self: center;
    order: -1;
}*/
/*4.5.flex-container{
    display: flex;
    align-self: flex-end;
    width: 250px;
    height: 250px;
    flex-direction: column;
    flex-wrap: wrap;
}*/
/*4.6.flex-container{
    display: flex;
    width: 250px;
    height: 250px;
    flex-wrap: wrap;
    align-content: flex-start;
}*/

/*4.7.flex-container{
    display: flex;
    width: 250px;
    height: 250px;
    flex-wrap: wrap;
    align-content: flex-end;
}*/
/*4.8.flex-container{
    display: flex;
    width: 250px;
    height: 250px;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column-reverse;
}*/
.flex-container{
    display: flex;
    width: 250px;
    height: 250px;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column-reverse;
}

.flex-item{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.verde{
    background-color: green;

}
.amarelo{
    background-color: yellow;
    
}
.vermelho{
    background-color: red;
}

body{
    background-color: lightgrey;
}