/*3.1
.flex-container{
    display: flex;
    justify-content: flex-end;   
}*/
/*3.2
.flex-container{
    display: flex;
    justify-content: center;   
}*/
/*3.3
.flex-container{
    display: flex;
    justify-content: space-around;   
}*/
/*3.4
.flex-container{
    display: flex;
    justify-content: flex-between;   
}*/
/*3.5.flex-container{
    display: flex;
    height: 100vh;
    align-items: flex-end;
}*/
/*3.6.flex-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}*/
/*3.7.flex-container{
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: space-around;
}*/
/*3.8.flex-container{
    display: flex;
    justify-content: flex-end; 
}*/
/*3.9.flex-container{
    align-items: flex-end;
}*/
/*3.10.flex-container{
    display: flex;
    align-items: flex-end;
}*/
/*3.11.flex-container{
    justify-content: flex-end;
    height: 100vh;
    display: flex;
    flex-direction: column;
}*/
/*3.12.flex-container{
    justify-content: space-between;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}*/
/*.3.13flex-container{
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row-reverse;
}*/  
/*3.14.flex-container{
    display: flex;
    
}*/
.flex-item{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.verde{
    background-color: green;
}

.amarelo{
    background-color: yellow;
}

.vermelho{
    background-color: red;
}

body{
    background-color: lightgrey;
}